html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    background-color: #000;
    width: 100%;
    height: 100%;
    background-image: url(image/JesusVive.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
}

#clockdiv{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    margin: 0 auto;
    padding: 15px 0 20px 0;
    color: #fff;
    border: 1px solid #adafb2;
    border-width: 1px 0;
    overflow: hidden;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgb(26, 25, 25);
    text-align: center;
}

ul#countdown {
    padding: 15px 0 20px 0;
}

li {
    margin: 0 -3px 0 0;
    color: #fff;
    padding: 0;
    display: inline-block;
    width: 24%;
    font-size: 72px;
    font-size: 6vw;
    text-align: center;

    .label {
        color: #adafb2;
        font-size: 18px;
        font-size: 2vw;
        text-transform: uppercase;
    }
}

@media(max-width: 1350px) {
    body {
        background-color: #000;
        width: 100%;
        height: 100%;
        background-image: url(image/JesusVive2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 0;
    }
}

@media(max-width: 700px) {
    body {
        background-color: #000;
        width: 100%;
        height: 100%;
        background-image: url(image/JesusVive3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 0;
    }
}